<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //SEO
    meta(name='keywords' content='portfolio, intégrateur, louis')
    meta(name='author' content='Widdy Louis')
    meta(name='copyright' content='© Copyright 2020 - Widdy Louis')

    //CSS
    link(rel="stylesheet", href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css")
    link(rel="stylesheet", href="assets/css/normalize.css")
    link(rel="stylesheet", href="assets/css/reset.css")
    link(rel="stylesheet", href="assets/css/index.css")
    title Responsive Website
  body
    //header 
    section#intro
      .container
        .hdr__nav
          img(src="assets/images/logo.png", alt="").logo
          .nav__burger
            .line
            .line
            .line

        .header__text
          h1 The surpose is to <br> teach, bring learning to people
          span.square
          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur molestiae, officiis similique at consequuntur rerum aliquam ratione, sed harum placeat enim est omnis ex voluptatem illum quam, provident earum natus.
          a.header__btn(href="#") Lire Plus
          .line
            each val, i in [1 , 2, 3]
              span(class="line-"+val) 
                a(href="") 
                  
    //sideNav 
    nav#sideNav
      ul.nav__list
        each val, i in ['home', 'about us','features', 'courses', 'offer', 'contact']
            li.nav__item
              a.nav__link=val

    //about 
    section#about
      .about__leftCol
        img(src="assets/images/about.png", alt="").image__leftCol

      .about__rightCol
        .about__text
          h1 about us
          span.square
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, magnam porro esse eius repellat consequatur cumque voluptatem. Exercitationem tempora, ad, commodi sed aut eligendi voluptatibus error reiciendis consectetur deleniti repellat odit, voluptas minima magni vel aliquam unde quidem eum vitae.
          .line
            each val, i in [1 , 2, 3]
              span(class="line-"+val) 
                a(href="")

          h2 " Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, quaerat. Nemo porro reiciendis iure similique placeat eveniet molestiae natus sunt? "
          h3 Codwerk
    
    //features
    section#features
      .feature__row
        each val, index in [{image: 'assets/images/pic-1.png', titre: 'Learn Anywhere', content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.'}, {image: 'assets/images/pic-2.png', titre: 'Expert Teachers', content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.'}, {image: 'assets/images/pic-3.png', titre: 'Unlimted Access', content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.'}]
          .feature__Col
            img(src= val.image, alt= val.titre)
            h4= val.titre
            p= val.content
      .features__btn 
        .line
            each val, i in [1 , 2, 3]
              span(class="line-"+val) 
                a(href="") 
                  i.icon(class=val)
        a.header__btn(href="#") Essaie Gratuit
    
    //courses
    section#courses
      .container.course-row
        .courses__leftCol
          .courses__txt
            h1 Le but est <br> d'enseigner, de faire apprendre aux gens
            span.square
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur molestiae, officiis similique at consequuntur rerum aliquam ratione, sed harum placeat enim est omnis ex voluptatem illum quam, provident earum natus.

            a.header__btn(href="#") Tout les cours

            .line
              each val, i in [1 , 2, 3]
                span(class="line-"+val) 
                  a(href="")

        .courses__rightCol
          img(src="assets/images/course.png", alt="")
    
    //offer
    section#offer
      .offer__leftCol
        img(src="assets/images/offer.png", alt="").image__leftCol

      .offer__rightCol
        .offer_text
          h1 Apprentissage illimité,<br>  possibilités illimitées
          span.square
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, magnam porro esse eius repellat consequatur cumque voluptatem. Exercitationem tempora, ad, commodi sed aut eligendi voluptatibus error reiciendis consectetur deleniti repellat odit, voluptas minima magni vel aliquam unde quidem eum vitae.

          a.header__btn(href="#") Essaie Gratuit

          .line
            each val, i in [1 , 2, 3]
              span(class="line-"+val) 
                a(href="")

    //contact
    section#contact
      .container.contact__row
        .contact__leftCol
          h1 Inscrivez-vous pour rejoindre<br> notre communauté d'apprentissage

          form(action="").form
            .form__group
              input#name(type="text", name="name", placeholder="Entrez le nom").input__field
              label(for="name") 
                i.icon.ion-md-person

            .form__group
              input#email(type="email", name="email", placeholder="Entrez l'email").input__field
              label(for="email") 
                i.icon.ion-md-mail
            
            .form__group
              input#password(type="password", name="password", placeholder="Entrez le password").input__field
              label(for="password") 
                i.icon.ion-md-lock
            
            .btn__box 
              a.header__btn(href="#") Inscrivez-vous
              a.header__btn(href="#") Essaie Gratuit

            .line
              each val, i in [1 , 2, 3]
                span(class="line-"+val) 
                  a(href="")

        .contact__rightCol
          img(src="assets/images/contact.png", alt="")

    //footer
    footer#footer
      .container.footer__row
        hr
        .footer__leftCol
          ul.footer__links
            li.link__title
              h4 Product
              small Our Plan
              small Free Trial
            li.link__title
              h4 About Us
              small Request Demo
              small FAQs
            li.link__title
              h4 Support
              small Features
              small Contact
            li.link__title
              h4 Explore
              small Find a non profit
              small Corporate Solution

        .footer__rightCol
          .footer__info
            .copyright-text
              small https://codwerk.github.io/
              small copyright 2020 codwerk
            .footer__logo
              img(src="assets/images/logo.png", alt="")
              a.header__btn(href="#") English

    //social-icons
    ul.social-icons
      each val, i in [{class:'ion-logo-github', link: 'https://github.com/codwerk'} , {class:'ion-logo-linkedin', link: 'https://www.linkedin.com/in/widdy-louis-1a226ba9/'}, {class:'ion-logo-instagram', link: 'https://www.instagram.com/codwerk/'}]
        li.social__items
          a(href=val.link, target='_blank')
            i.icon(class=val.class) 

    script(src="assets/js/index.js")
      